html {
  background: #eaeef2;
}

p {
  color: #333;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}

h3 {
  font-size: 18px;
  margin: 20px 0px 20px 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: black;
  border-spacing: 0;
  padding-right: 10px;
}

th {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: 2px solid #9dc3ea;
  background: #92a9ce;
}

td {
  width: 100%;
  text-align: left;
  border: 1px solid #9dc3ea;
  font-size: 16x;
  padding: 15px;
}

tr {
  background: #d2ddef;
}

tr:nth-child(even) {
  background-color: aquamarine;
}

label {
  color: #2196F3;
}

button{
    background: #b464c1;
    font-size: 15px;
    margin-top: 10px;
    padding: 12px;
    width: 200px;
    border: 1px solid #4a648e;
}
#matrixContainer input,
#matrix3 input{
  width: 40px;
  height: 20px;
}
#resdiv, #matrix2{
  margin-top:20px;
}
